<template>
  <div>
    <h1>Dashboard</h1>
    <template v-if="!isLoading">
      <EventCard v-for="event in events" :key="event.id" :event="event" />
    </template>
    <p v-else>
      Loading events
    </p>
  </div>
</template>

<script>
import { request } from '../api'
import EventCard from '../components/EventCard'

export default {
  components: { EventCard },
  data () {
    return {
      isLoading: true,
      events: []
    }
  },
  async created () {
    const res = await request.get('dashboard')
    if (res.status === 200) {
      this.events = res.data.events.events
      this.isLoading = false
    }
  }
}
</script>
