<template>
  <div>
    <p>{{ error }}</p>
    <form @submit.prevent="login">
      <label>Email</label>
      <input v-model="email" type="email" name="email">

      <label>Password</label>
      <input v-model="password" type="password" name="password">

      <button type="submit" name="submit">
        Login
      </button>

      <router-link :to="{ name: 'register' }">
        Don't have account, register here
      </router-link>
    </form>
  </div>
</template>

<script>
import { request } from '../api/index'
import { setAccessToken, deleteAccessToken } from '../utils/authenticate'

export default {
  data () {
    return {
      email: '',
      password: '',
      error: ''
    }
  },

  methods: {
    async login () {
      try {
        const res = await request.post('login', {
          email: this.email,
          password: this.password
        })
        if (res.status === 200) {
          setAccessToken(res.data.token)
          this.$router.replace({ name: 'dashboard' })
        }
      } catch (e) {
        deleteAccessToken()
        this.error = e.response.data.message
      }
    }
  }
}
</script>
