<template>
  <div>
    <p>{{ error }}</p>
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(register)">
        <ValidationProvider v-slot="{ errors }" rules="required" tag="div">
          <label>Name</label>
          <input v-model="name" type="text" name="name">
          <span class="red">{{ errors[0] }}</span>
        </ValidationProvider>

        <ValidationProvider v-slot="{ errors }" rules="required" tag="div">
          <label>Email</label>
          <input v-model="email" type="email" name="email">
          <span class="red">{{ errors[0] }}</span>
        </ValidationProvider>

        <ValidationProvider v-slot="{ errors }" rules="required" tag="div">
          <label>Password</label>
          <input v-model="password" type="password" name="password">
          <span class="red">{{ errors[0] }}</span>
        </ValidationProvider>

        <button type="submit" name="button">
          Register
        </button>
        <router-link :to="{name: 'login'}">
          Already have account, login
        </router-link>
      </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { request } from '../api/index'
import { setAccessToken } from '../utils/authenticate'
import { ValidationProvider, ValidationObserver, extend } from 'vee-validate'
import { required } from 'vee-validate/dist/rules'

extend('required', required)

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      name: null,
      email: null,
      password: null,
      error: null,
      errors: null
    }
  },
  methods: {
    async register () {
      try {
        const res = await request.post('register', {
          name: this.name,
          email: this.email,
          password: this.password
        })
        if (res.status === 200) {
          setAccessToken(res.data.token)
          this.$router.push({ name: 'dashboard' })
        }
      } catch (e) {
        this.error = e.response.data.message
      }
    }
  }
}

</script>

<style scoped>
.red {
  color: red
}
</style>
